.main {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background: rgb(2, 10, 80);
}
.child {
    /* margin: auto; */
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 60px;
    background: rgb(0, 148, 0);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.child:hover {
    background: rgb(11, 170, 11);
}