.main {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background: rgb(2, 10, 80);
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.child {
    /* margin: auto; */
    cursor: pointer;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 60px;
    background: rgb(0, 148, 0);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    border: 1px solid rgb(155, 153, 153);
}
.child:hover {
    background: rgb(11, 170, 11);
}
.fruits{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.fruits .img-box{
    overflow: hidden;
    height: 180px;
    width: 275px;
}
.fruits .img-box img{
    height: 100%;
    width: 100%;
}
.fruits .img-box img:hover{
    transform: scale(1.5);

}