*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
.blog-container {
    max-width: 1000px;
    margin: 25px auto;
}
.testimonial-title{
    text-align: center;
    margin-bottom: 50px;
}
.single-item-blog{
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(105, 105, 105);
}
.testimonial-title h4{
    color: #919191;  
}
.testimonial-title h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    text-shadow: 5px 5px 10px rgb(172, 172, 172);
}
.blog-item-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/* .blog-image-icon-div {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} */

.blog-image-icon-div {
   position: relative;
   border-radius: 8px;
   overflow: hidden;
}
.blog-image {
    max-width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    transition: .4s;
}
.blog-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    border-radius: 8px;
    transition: .4s;
    cursor: pointer;
 }
 .blog-icon i {
    margin-bottom: 15px;
    font-size: 40px;
 }
 .blog-image-icon-div:hover .blog-icon {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
 }
 .blog-image-icon-div:hover .blog-image {
    transform: scale(1.6);
 }
 .single-item-text {
    text-align: center;
 }
 .single-item-text h3 {
    text-shadow: 5px 5px 10px rgb(172, 172, 172);
    margin: 10px 0;
 }
 .single-item-text p {
    color: #919191;
 }
